.containerCalculator{
  width: 16rem;
  border-radius: 10px;
  background-color: black;
  padding: 1rem;
}
.key-containerKey{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: minmax(60px,auto);
}
.key{
  margin: 5px;
  border: none;
  border-radius: 6px;
  color: whitesmoke;
  background-color: rgb(40, 40, 47);
  cursor: pointer;
}
.button-clear{
  grid-column: 1/3;
  background-color: rgb(168, 24, 190);
  color: black;
}
.buttonResult{
  grid-column:3/5;
  background-color: rgb(168, 24, 190);
  color: black;
}
.highLight{
  background-color: rgb(168, 24, 190);
  color: black;
}

.input-result{
  text-align: end;
  align-items: end;
  width: 96%;
  height: 5rem;
  background-color: rgb(40, 39, 39);
  color: white;
  border:double 4px rgb(141, 139, 139);
  font-weight: 500;
  font-size: 1.5rem;
  outline: none;
}

@media (max-width:390px) {
  .containerCalculator{
    width: 90%;
  }
  .input-result{
    height: 5rem;
  }
}
